.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.front{
    background-image: url(./images/usgs-hoS3dzgpHzw-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    width: 95vw;
    border-radius: 20px;
    flex-direction: column;
}
.front h1{
    /* font-family: ; */
    margin-top: 0;
    color: white;
    font-size: 100px;
    text-align: center;
}
.box{
    height: 120px;
    width: 30vw;
    border-radius: 20px;
    background-color: white;
    /* justify-content: space-between; */
}
.panel{
    height: 100%;
    width: 40%;
    left: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #D9D9D9;
}
.box h3{
    font-size: 47px;
    flex: 1;
    text-align: center;
}
section{
    width: 100%;
    margin-top: 50px;
    gap: 2rem;
}

section .box{
    background-color: #D9D9D9;
}
section .box .panel{
    background-color: white;
    box-shadow: -2px 2px #D9D9D9;
}
@media (max-width: 30rem){
    section{
        width: 100%;
        flex-direction: column;
    }
    .box{
        width: 90vw;
    }
}
a{
    color: white;
    text-decoration: none;
}